body {
  width: 100%;
}
.row {
  max-width: 87.5rem;
}
footer {
 position: fixed;
 bottom: 0;
 width: 100%;
}
footer .row {
  max-width: none;
  background-color: #323a45;
}
footer img {
 padding: 1rem;
 max-height: 6rem;
}
