body {
  width: 100%;
}
footer {
  bottom: 0;
  width: 100%;
}
footer .row {
  background-color: #323a45;
}

ul div img {
  min-width: 5rem;
}

footer img {
  padding: 1rem;
  min-width: 5rem;
  max-height: 8rem;
}

#login > i {
  font-size: 3em;
}
